*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  margin-top: 4rem;
}

.headers{
  justify-content: center;
  display: flex;
  gap: 1.5rem;
}

#episodes-selector{
  border-radius: 20px;
  height: 30px;
  width: 20rem;
    
}

#live-search{
  border-radius: 20px;
  height: 30px;
  width: 12rem;
  text-align: center;
}

button{
  border-radius: 10px;
  height: 30px;
  width: 4rem;
  text-align: center;
  background-color: rgb(186, 247, 186);
}

#root {
  margin-top: 4rem;
  color: rgb(36, 2, 30);
  /* display: grid;
  grid-template-columns: auto auto auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  background-color: rgb(255, 255, 255);
}
section{
  border: 3px solid rgb(228, 9, 115);
  margin: 3px 4px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 400px;
  height: 500px;
}

section p {
  text-align: justify;
  font-size: 18px;

}

 #all-Episodes{
  background-color: rgb(244, 109, 174);
  border: 3px solid black;
  border-radius: 12px;
}


